body {
    background-color: #e1b7d2ff;
    text-align: center;
}

.forside {
    background-image: url("bilder/forsidebilde.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
}

#forside {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    text-shadow: #85c7f2ff 5px 5px 5px;
}

#forside:hover {
    letter-spacing: 15px;
    transform: scale(1.03);
    transition: 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#trettito {

    grid-column: 1/5;
    grid-row: 1/3;
}

#forklarertrettito {
    grid-row: 1/3;
    grid-column: 5/9;
    background-color: skyblue;
    color: white;
}

#trettitre {
    grid-column: 5/9;
    grid-row: 3/5;
}

#forklarertrettitre {
    grid-column: 1/5;
    grid-row: 3/5;
    background-color: #235789ff;
    color: white;
}

#illustrasjonsbilde {
    grid-column: 1/5;
    grid-row: 1/5;

}

#trettifire {
    grid-column: 5/9;
    grid-row: 1/3;
}

#forklarertrettifire {
    grid-row: 3/5;
    grid-column: 5/9;
    background-color: #bde6baff;
    color: white;

}



#trettifem {
    grid-row: 1/3;
    grid-column: 5/9;
}

#forklarertrettifem {
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: #85c7f2ff;
    color: white;
    text-align: center;
}

#trettiseks {
    grid-column: 1/5;
    grid-row: 3/5;
}

#forklarertrettiseks {
    grid-column: 5/9;
    grid-row: 3/5;
    background-color: #1c7c54ff;
    color: white;
}

#bildefil {
    grid-column: 1/5;
    grid-row: 3/5;
}

#bildefil2 {
    grid-column: 5/9;
    grid-row: 1/9;
}

#filstørrelse {
    grid-column: 1/5;
    grid-row: 1/3;
    background-color: #e1b7d2ff;
    align-items: center;
    color: white;
}


a {
    color: white;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: var(--lysgrønn);
    height: 50vh;
    border-top: 2px solid rgb(71, 110, 83);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
    color: white;

}

footer h1 {
    margin-bottom: 30px;
}

footer li {
    margin-bottom: 20px;

}






@media (width < 800px) {
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;

    }

    #forside {
        font-size: 60px;
    }

    .container>div {
        min-height: 300px;
    }

    .container>img {
        font-size: 0px;
    }

    .container {
        font-size: 0px;
    }

    .container>* {
        font-size: 30px;
    }

    /*  .container> #trettito, #trettitre, #trettifire, #trettifem, #trettiseks, #bildefil, #bildefil2, #illustrasjonsbilde {
        font-size: 0px;
    } */

    footer {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    footer>div {
        flex-direction: column;
        margin-left: 20px;
    }

}