@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   
    font-family: "Roboto Mono";
}


img {
    width: 100%;
    height: 100%;
}


footer{
    background-color: var(--lysblå);
    height: 50vh;
    border-top: 2px solid rgb(92, 136, 180);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;

}

footer h1{
    margin-bottom: 30px;
}

footer li{
    margin-bottom: 20px;

}

footer>div{
    overflow: hidden;
}

footer div img{
    max-width: 100%; 
    height: auto; 
}

.navigeringdiv{
	background-color: #85c7f2ff;
	display: grid;
	grid-template-columns:  auto repeat(3,1fr);
	align-items: center;
	justify-items: center;
    grid-template-rows: 50px 50px;
    position: fixed;
    z-index: 3;
    width: 100%;
}

nav a{
	padding-left: 40px;
	padding-right: 40px;
	color: white;
	text-decoration: none;

	
}
nav .hjem{
	background-color: #235789ff ;
	font-weight: 800;
	font-size: 32px;
    grid-row: 1/3;
    height: 100%;
    padding-top: 20%;
  
    
    
}

nav a:hover {
color: black;
}


:root{
    --mørkblå: #235789ff;
    --lysgrønn: #bde6baff;
    --rosa: #e1b7d2ff;
    --mørkgrønn: #1c7c54ff;
    --lysblå: #85c7f2ff;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    
    color: white;
    
}

.lego{
    display: flex;
    background-color: #e1b7d2ff;
    text-align: center;
    align-items: center;
    height: 80vh;
    padding: 10px;
    color: white;
}

p > a {
    color: white;
}
.lego > img{
    border: solid 5px #235789ff;
    border-radius: 20px;
}
.lego > p{
    border: 5px solid #235789ff;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
}

.lego>p:hover{
    transition: 2s;
    padding: 40px;
    font-size: 20px;
}
.lego>img:hover{
    height: 87vh;
    transition: 2s;
}


#mainlogm{
    background-image: url("bilder/sunset.jpg");
    background-size: cover;
    background-position: bottom;
    text-shadow: #235789ff 5px 5px 5px;
}


#mainkb{
    background-image: url("bilder/snofjell.jpg");
    background-size: cover;
    background-position: bottom;
}

.holderkomp{
    display: flex;
    background-color: #235789ff;
    height: 40vh;
    justify-content: center;
    color: white;
}

.komp{
    display: flex;
    height: auto;
    width: 70%;
    background-color: #235789ff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    border: solid #85c7f2ff 5px;
    border-radius: 10px;
    margin-top: 25px;

}

.holder{
    height: auto;
    width: 100%;
    background-color: #235789ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.boks{
    padding: 20px;
    margin: 40px;
    border: solid #85c7f2ff 5px;
    border-radius: 10px;
    height: auto;
    text-align: center;
    color: white;
}

.boks:hover{
    padding: 50px;
    transition: 2s;
    background-color: #e1b7d2ff;
   

}

.komp:hover{
    background-color: #e1b7d2ff;
   transition: 2s;
}

#lossy {
    padding: 20px;
    margin: 40px;
    border: solid #85c7f2ff 5px;
    border-radius: 10px;
    height: auto;
    text-align: center;
    color: white;
    background-color: #235789ff;
    height: auto;
    width: auto;
   
}

#lossy > img{
    width: auto;
    height: 60%;
}

#lossy:hover{
    padding: 50px;
    transition: 2s;
    background-color: #e1b7d2ff;
   

}

html {
    scroll-behavior: smooth;
  } 

.b_overføring{
    height: 120vh;
    background-image: url(bilder/fugl.jpg);
    background-size: cover; 
	background-position: center;
    overflow: hidden;
    opacity: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.overføring{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 40px;
}

.onav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    background-color: #121110;
    opacity: 90%;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    color: white;
    }

.om{
    height: auto;
    padding: 20px;
    background-color: var(--mørkgrønn);
    background-image: url(bilder/.jpg);
    background-size: cover;
    opacity: 80%;
}


.tre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0px 50px;
}


.tre>div{
    height: 140px;
    width: 450px;
    border-radius: 10px;
    transition: transform 0.6s ease;
    background-color: var(--mørkgrønn);
    opacity: 80%;
    border: 3px solid #121110;
    opacity: 90%;;
    color: white;
    text-align: center;
    position: relative; 
    overflow: hidden;
    margin-right: 20px;
}

.tre>div:hover{
    transform: scale(1.07);
    background-image: none;
}

.tre>div .otext{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute; 
    top: 35%; 
    left: 25%;
    transform: translate(-15%, -30%); 
    font-size: 18px;
}

.tre > div:hover .otext {
    opacity: 1;
    visibility: visible;
}

.tre1{
    background-image: url(bilder/bit1.jpg);
    background-size: cover;
    background-position: center;
}

.tre2{
    background-image: url(bilder/bit2.jpg);
    background-size: cover;
    background-position: center;
}

.tre3{
    background-image: url(bilder/bit3.jpg);
    background-size: cover;
    background-position: center;
}


.og{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(220px, auto);;
    gap: 40px;
}

.og>div{
    background-color: var(--lysgrønn);
    font-size: 18px;
    padding: 10px;
    border: 2px solid #121110;
    opacity: 90%;
    border-radius: 10px;
    transition: transform 0.6s ease;
    scroll-margin-top: 150px;
}


.og>div:hover{
    transform: scale(1.05);
    background-color: var(--lysgrønn);
}

.og>div>p{
    margin-top: 30px;
}

.og>div>ul{
    margin: 20px 0px 0px 15px;
}


#d1{
    grid-row: 1/3;
}

#d3{
    grid-row: 3/5;
}

#d4{
    grid-row: 2/4;
    background-image: url(bilder/bit4.jpg);
    background-size: cover;
    background-position: center;
}

#d4:hover{
    background-image: none;
}

.to{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.to:hover {
    opacity: 1;
}
.to>h3{
    margin-bottom: 20px;
}

.to>ul{
    margin-left: 25px;

}

hr{
    border: none; 
    height: 2px; 
    background-color: var(--mørkgrønn);
    margin: 150px 0;
}


@media (width < 700px){
    .holder{
        display: flex;
        flex-direction: column ;
        height: auto;
    }
    
    #lossy{
        height: auto;
        width: auto;
    }
    #lossy > img{
        width: auto;
    }

    .overføring{
        font-size: xx-large;
    }

    .onav{
        flex-direction: column;
    }

    .onav>a{
        margin: 15px 0px;
    }

   .om{
    height: auto;
   }

    .tre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tre>div{
        width: 90%;
        margin-top: 30px;
        height: 126px;
    }

    .tre>div .otext{
        font-size: 90%;
        top: 39%; 
        left: 10%;
        transform: translate(-5%, -30%); 
    }

    .og{
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    #d1, #d3, #d4 {
        grid-row: auto; 
    }

    .navigeringdiv a:not(.hjem) {
        display: none;
    }


    
}

@media (width < 840px){
    .lego{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    footer{
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }

    footer>div{
        flex-direction: column;
        margin-left: 40px;
        width: 70%;
    }
   
    footer>div>img{
        width: 70%;
    }

   
}

@media (width <600px){
    .holder{
        height: auto;
    }
    .holderkomp{
        height: auto;
    }
    .komp{
        height: auto;
    }
    .boks{
        height:auto;
    }
    #mainkb > h1{
        font-size: 60px;
    }
    #lossy{
        height: auto;
        width: auto;
    }
    
}

@media (width<500px){
    .tre>div .otext{
        font-size: 75%;
        top: 39%; 
        left: 10%;
        transform: translate(-5%, -30%); 
    }
}


aside{
   height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    text-align: center;
    
    background-color: #235789ff;
    font-size: 25px;

}




