* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

footer{
    background-color: blue;
    height: 50vh;
    border-top: 2px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;

}

footer h1{
    margin-bottom: 30px;
}

footer li{
    margin-bottom: 20px;

}

footer>div{
    margin-left: -50px;
}
